#cloud-config
---
coreos:
  update:
    group: stable
    reboot-strategy: best-effort
  units:
    - name: 00-eth1-static.network
      runtime: true
      content: |
        [Match]
        Name=eth1

        [Network]
        DHCP=no
        Address=10.99.0.11/24

    - name: custom-mtu.service
      command: start
      content: |
        [Unit]
        Before=docker.service

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStart=/usr/bin/ip link set dev eth1 mtu 1450

    - name: 10-weave.network
      runtime: false
      content: |
        [Match]
        Type=bridge
        Name=weave*

        [Network]

    - name: systemd-modules-load.service
      command: restart

    - name: iptables-restore.service
      enable: true
      command: start

    - name: format-ephemeral.service
      command: start
      content: |
        [Unit]
        Description=Formats the ephemeral drive
        After=dev-vda.device
        Requires=dev-vda.device

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStart=/usr/sbin/wipefs -f /dev/vda
        ExecStart=/usr/sbin/mkfs.ext4 -F /dev/vda

    - name: mnt.mount
      command: start
      content: |
        [Unit]
        Description=Mount ephemeral to /mnt
        Requires=format-ephemeral.service
        After=format-ephemeral.service

        [Mount]
        What=/dev/vda
        Where=/mnt
        Type=ext4

    - name: rbind-mount-points.service
      command: start
      content: |
        [Unit]
        Description=create bind mounts in /mnt
        Requires=mnt.mount
        After=mnt.mount

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStart=/usr/bin/mkdir -p /mnt/docker
        ExecStart=/usr/bin/mkdir -p /mnt/matchbox
        ExecStart=/usr/bin/mkdir -p /mnt/tmp_install
        ExecStart=/usr/bin/mkdir -p /var/lib/matchbox/assets

    - name: var-lib-docker.mount
      command: start
      content: |
        [Unit]
        Description=bind mount /var/lib/docker to ephemeral
        Requires=rbind-mount-points.service
        After=rbind-mount-points.service

        [Mount]
        What=/mnt/docker
        Where=/var/lib/docker
        Type=none
        Options=rbind

    - name: var-lib-matchbox-assets.mount
      command: start
      content: |
        [Unit]
        Description=bind mount /var/lib/docker to ephemeral
        Requires=rbind-mount-points.service
        After=rbind-mount-points.service

        [Mount]
        What=/mnt/matchbox
        Where=/var/lib/matchbox/assets
        Type=none
        Options=rbind

    - name: docker.service
      drop-ins:
        - name: 10-wait-mount.conf
          content: |
            [Unit]
            After=var-lib-docker.mount
            Requires=var-lib-docker.mount

    - name: bridge-management-eth1.service
      enable: true
      command: start
      content: |
        [Unit]
        After=docker.service
        Requires=docker.service
        Description=Create additional docker network and bridge eth1 into it

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStart=/usr/bin/docker network create --driver ipvlan \
        --subnet 10.99.0.0/24 \
        --gateway 10.99.0.1 \
        -o ipvlan_mode=l2 \
        -o parent=eth1 \
        management

    - name: weave-install.service
      command: start
      enable: true
      content: |
        [Unit]
        After=network-online.target
        After=docker.service
        Description=Install Weave
        Documentation=http://zettio.github.io/weave/
        Requires=network-online.target
        Requires=docker.service

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStartPre=/bin/mkdir -p /opt/bin/
        ExecStartPre=/usr/bin/curl \
          --silent \
          --location \
          https://github.com/weaveworks/weave/releases/download/latest_release/weave \
          --output /opt/bin/weave
        ExecStartPre=/usr/bin/chmod +x /opt/bin/weave
        ExecStartPre=/usr/bin/docker pull zettio/weave:latest
        ExecStartPre=/usr/bin/docker pull zettio/weavetools:latest
        ExecStartPre=/usr/bin/docker pull zettio/weavedns:latest
        ExecStartPre=/usr/bin/docker pull weaveworks/weaveexec:latest
        ExecStart=/bin/echo Weave Installed

    - name: matchbox-install.service
      command: start
      content: |
        [Unit]
        Description=Download and install latest Matchbox from coreOS
        After=docker.service
        Requires=docker.service bridge-management-eth1.service

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStart=/opt/bin/matchbox_first_run.sh

    - name: matchbox-setup.service
      command: start
      content: |
        [Unit]
        Description=Populate matchbox assets
        Requires=matchbox-install.service
        After=matchbox-install.service
        Before=matchbox.service

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStart=/opt/bin/matchbox_setup.sh

    - name: bootkube-setup.service
      command: start
      content: |
        [Unit]
        Description=Populate matchbox assets with bootkube
        Requires=matchbox-setup.service
        After=matchbox-setup.service

        [Service]
        Type=oneshot
        RemainAfterExit=yes
        ExecStart=/opt/bin/bootkube_setup.sh

    - name: matchbox.service
      command: start
      content: |
        [Unit]
        Description=CoreOS matchbox Server
        Documentation=https://github.com/coreos/matchbox
        After=matchbox-setup.service
        Requires=matchbox-setup.service

        [Service]
        ExecStartPre=/usr/bin/docker pull quay.io/coreos/matchbox:latest
        ExecStartPre=/usr/bin/docker create -ti \
        --name matchbox \
        --net default \
        -p 8080:8080 \
        -p 8081:8081 \
        -v /var/lib/matchbox:/var/lib/matchbox:rw \
        -v /etc/matchbox:/etc/matchbox:ro \
        quay.io/coreos/matchbox:latest \
        -address=0.0.0.0:8080 \
        -rpc-address=0.0.0.0:8081 \
        -log-level=debug
        ExecStartPre=/usr/bin/docker network connect --ip 10.99.0.254 management matchbox
        ExecStartPre=/usr/bin/docker start matchbox
        ExecStart=/usr/bin/docker logs -f matchbox
        ExecStop=/usr/bin/docker stop matchbox
        ExecStop=/usr/bin/docker rm matchbox

        [Install]
        WantedBy=multi-user.target

    - name: matchbox-dnsmasq.service
      command: start
      content: |
        [Unit]
        After=matchbox.service
        Requires=matchbox.service
        Description=Matchbox DHCP, DNS, TFTP via dnsmasq

        [Service]
        TimeoutStartSec=0
        ExecStartPre=/usr/bin/docker pull quay.io/coreos/dnsmasq
        ExecStartPre=/usr/bin/docker run -d -ti \
          --name matchbox-dnsmasq \
          --cap-add=NET_ADMIN \
          --net host \
          quay.io/coreos/dnsmasq -d -q \
          --interface=eth1 \
          --dhcp-range=10.99.0.100,10.99.0.150,infinite \
          --dhcp-option=3 \
          --dhcp-option=26,1450 \
          --dhcp-userclass=set:ipxe,iPXE \
          --dhcp-boot=tag:#ipxe,undionly.kpxe \
          --dhcp-boot=tag:ipxe,http://10.99.0.254:8080/boot.ipxe \
          --enable-tftp \
          --tftp-root=/var/lib/tftpboot \
          --log-queries \
          --log-dhcp
        ExecStart=/usr/bin/docker logs -f matchbox-dnsmasq
        ExecStop=/usr/bin/docker stop matchbox-dnsmasq
        ExecStop=/usr/bin/docker rm matchbox-dnsmasq
        Restart=always
        RestartSec=30s

        [Install]
        WantedBy=multi-user.target

    - name: pushcfg.service
      enable: true
      command: start
      content: |
        [Unit]
        After=matchbox-dnsmasq.service
        Requires=matchbox-dnsmasq.service
        Description=Sinatra listening for servers / pushing kubecfg

        [Service]
        ExecStartPre=/opt/bin/pushcfg_setup.sh
        ExecStartPre=/usr/bin/docker pull ruby:latest
        ExecStartPre=/usr/bin/docker create -ti \
        --name pushcfg \
        --net default \
        -w /usr/src/app \
        -v /mnt/pushcfg:/usr/src/app \
        -v /var/lib/matchbox:/var/lib/matchbox:rw \
        -v /mnt/tmp_install/bk:/opt/bootkube \
        -v /etc/hostname:/opt/bootkube/hostname:ro \
        -v /usr/bin/docker:/usr/bin/docker:ro \
        -v /var/run/docker.sock:/var/run/docker.sock:rw \
        -v /home/core/.ssh/id_rsa:/root/.ssh/id_rsa:ro \
        -v /home/core/.ssh/id_rsa.pub:/root/.ssh/id_rsa.pub:ro \
        ruby:latest /bin/bash -c "bundle install && bundle exec ruby -e 'require \"./pushcfg.rb\"'"
        ExecStartPre=/usr/bin/docker network connect --ip 10.99.0.250 management pushcfg
        ExecStartPre=/usr/bin/docker start pushcfg
        ExecStart=/usr/bin/docker logs -f pushcfg
        ExecStop=/usr/bin/docker stop pushcfg
        ExecStop=/usr/bin/docker rm pushcfg
        Restart=on-failure
        RestartSec=30s

        [Install]
        WantedBy=multi-user.target

    - name: softethervpn.service
      enable: true
      command: start
      content: |
        [Unit]
        After=pushcfg.service
        Requires=bridge-management-eth1.service
        Description=Softether vpn server

        [Service]
        ExecStartPre=/usr/bin/docker pull voobscout/base-deb:softethervpn
        ExecStartPre=/usr/bin/docker create \
        --name softethervpn \
        --cap-add NET_ADMIN \
        --cap-add NET_RAW \
        --cap-add NET_BROADCAST \
        --net default \
        -p 4443:443/tcp \
        -p 992:992/tcp \
        -p 5555:5555/tcp \
        -p 11941:1194/tcp \
        -p 11941:1194/udp \
        -p 500:500/udp \
        -p 4500:4500/udp voobscout/base-deb:softethervpn
        ExecStartPre=/usr/bin/docker network connect --ip 10.99.0.200 management softethervpn
        ExecStartPre=/usr/bin/docker start softethervpn
        ExecStart=/usr/bin/docker logs -f softethervpn
        ExecStop=/usr/bin/docker stop softethervpn
        ExecStop=/usr/bin/docker rm softethervpn
        Restart=on-failure
        RestartSec=30s

        [Install]
        WantedBy=multi-user.target

    - name: tshark.service
      enable: false
      # command: start
      content: |
        [Unit]
        After=docker.service network-online.target
        Requires=docker.service network-online.target
        Description=tshark machine

        [Service]
        ExecStartPre=/usr/bin/docker pull voobscout/docker-coreos-vultr
        ExecStartPre=/usr/bin/docker run -d -ti \
        --name tshark \
        --privileged \
        --net host \
        voobscout/docker-coreos-vultr
        ExecStart=/usr/bin/docker logs -f tshark
        ExecStop=/usr/bin/docker stop tshark
        ExecStop=/usr/bin/docker rm tshark
        Restart=on-failure
        RestartSec=30s

        [Install]
        WantedBy=multi-user.target

write_files:
  - path: /run/flannel/flannel_docker_opts.env
    permissions: 0644
    owner: 'root:root'
    content: |
      DOCKER_OPTS='--experimental --bip 172.20.0.1/16 --fixed-cidr 172.20.0.1/16'

  - path: /opt/bin/pushcfg_setup.sh
    permissions: 0755
    owner: 'root:root'
    content: |
      #!/bin/bash

      mkdir -p /mnt/pushcfg
      # TODO: git clone vultrk8 repo instead
      curl https://raw.githubusercontent.com/voobscout/k8booter/master/pushcfg.rb -o /mnt/pushcfg/pushcfg.rb
      echo 'source "https://rubygems.org"' > /mnt/pushcfg/Gemfile
      echo 'gem "sinatra"' >> /mnt/pushcfg/Gemfile
      echo 'gem "cocaine"' >> /mnt/pushcfg/Gemfile
      logger -t pushcfg_setup After running setup script

  - path: /opt/bin/matchbox_first_run.sh
    permissions: 0755
    owner: 'root:root'
    content: |
      #!/usr/bin/env bash

      cd /mnt/tmp_install && \
      wget -c https://github.com/coreos/matchbox/releases/download/v0.5.0/matchbox-v0.5.0-linux-amd64.tar.gz && \
      tar xzf matchbox-v0.5.0-linux-amd64.tar.gz

      cd /mnt/tmp_install/matchbox-v0.5.0-linux-amd64/scripts/tls

      export SAN=IP.1:10.99.0.254
      ./cert-gen

      mkdir -p /etc/matchbox
      cp ca.crt server.crt server.key /etc/matchbox/

      mkdir -p /mnt/tmp_install/tls
      cp *.key *.crt /mnt/tmp_install/tls

      cd /mnt/tmp_install/matchbox-v0.5.0-linux-amd64
      ./scripts/get-coreos stable 1298.6.0 .

      mkdir -p /var/lib/matchbox/assets
      mv ./coreos /var/lib/matchbox/assets

      logger -t MB_1st_run -s 'installed matchbox...'

  - path: /opt/bin/matchbox_setup.sh
    permissions: 0755
    owner: 'root:root'
    content: |
      #!/usr/bin/env bash

      git clone https://github.com/voobscout/k8booter.git /mnt/tmp_install/k8booter
      cp --recursive /mnt/tmp_install/k8booter/ignition /var/lib/matchbox
      cp --recursive /mnt/tmp_install/k8booter/profiles /var/lib/matchbox

      logger -t MB_1st_run -s 'cloned matchbox config from git repo...'

  - path: /opt/bin/bootkube_setup.sh
    permissions: 0755
    owner: 'root:root'
    content: |
      #!/usr/bin/env bash

      PATH=/opt/bin:$PATH
      mkdir -p /mnt/tmp_install/bk
      cd /mnt/tmp_install/bk && \
      wget -c https://github.com/kubernetes-incubator/bootkube/releases/download/v0.3.11/bootkube.tar.gz && \
      tar xvzf bootkube.tar.gz
      mv /mnt/tmp_install/bk/bin/linux/* /opt/bin/

      cd /mnt/tmp_install
      rm -rf /mnt/tmp_install/bk
      mkdir -p /mnt/tmp_install/bk
      cd /mnt/tmp_install/bk
      /opt/bin/bootkube render --asset-dir=assets --api-servers=https://node1.gsm-port.com:443 --api-server-alt-names=DNS=node1.gsm-port.com

      # generate deployment keys
      /usr/bin/ssh-keygen -t rsa -N "" -f ~/.ssh/id_rsa -C deployment@gsm-port.com
      mkdir -p /home/core/.ssh
      cp ~/.ssh/id_rsa* /home/core/.ssh
      chown 500:500 /home/core/.ssh/id_rsa*

      # cd /var/lib/matchbox/groups
      # for node in 'node1' 'node2' 'node3'; do
      #   cat $node.json | jq -r ".metadata.ssh_authorized_keys |= . + [\"$(cat ~/.ssh/id_rsa.pub)\"]" > $node.json
      # done

      logger -t MB_1st_run -s 'bootkube installed...'

  - path: /opt/bin/kubeconfig-install.sh
    permissions: 0755
    owner: 'root:root'
    content: |
      #!/usr/bin/env bash
      cd /mnt/tmp_install/bk
      for node in 'node1' 'node2' 'node3'; do
        scp assets/auth/kubeconfig core@$node.gsm-port.com:/home/core/kubeconfig
        ssh core@$node.gsm-port.com 'sudo mkdir -p /etc/kubernetes && sudo mv kubeconfig /etc/kubernetes/kubeconfig'
      done

  - path: /opt/bin/kubeconfig-controller-install.sh
    permissions: 0755
    owner: 'root:root'
    content: |
      #!/usr/bin/env bash
      cd /mnt/tmp_install/bk
      scp -r assets core@node1.gsm-port.com:/home/core
      ssh core@node1.gsm-port.com 'sudo mkdir -p /opt/bootkube && sudo mv assets /opt/bootkube/assets && sudo systemctl start bootkube'

  - path: /etc/modules-load.d/fuse.conf
    permissions: 0644
    owner: 'root:root'
    content: |
      fuse

  - path: /etc/modules-load.d/nfsd.conf
    permissions: 0644
    owner: 'root:root'
    content: |
      nfsd

  - path: /etc/modules-load.d/arp-related.conf
    permissions: 0644
    owner: 'root:root'
    content: |
      ebt_arp
      arp_tables

  - path: /etc/ssh/sshd_config
    permissions: "0644"
    owner: root:root
    content: |
      UsePrivilegeSeparation yes
      SyslogFacility AUTHPRIV
      LogLevel INFO
      LoginGraceTime 120
      PermitRootLogin no
      StrictModes yes
      IgnoreRhosts yes
      HostbasedAuthentication no
      PermitEmptyPasswords no
      PasswordAuthentication no
      ChallengeResponseAuthentication no
      PubkeyAuthentication yes
      X11Forwarding yes
      X11DisplayOffset 10
      PrintMotd yes
      PrintLastLog yes
      TCPKeepAlive yes
      AcceptEnv LANG LC_*
      ClientAliveInterval 60
      UseDNS no
      AllowGroups core

  - path: /var/lib/iptables/rules-save
    permissions: 0644
    owner: 'root:root'
    content: |
      *filter
      :INPUT DROP
      :FORWARD ACCEPT
      :OUTPUT ACCEPT
      -A INPUT -i lo -j ACCEPT
      -A INPUT -i docker0 -j ACCEPT
      -A INPUT -i eth1 -j ACCEPT
      -A INPUT -i management -j ACCEPT
      -A INPUT -s 10.99.0.0/24 -j ACCEPT
      -A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
      -A INPUT -p tcp -m tcp --dport 22 -m limit --limit 10/min --limit-burst 100 -j ACCEPT
      # Softether connections:
      -A INPUT -p tcp -m tcp --dport 4443 -m limit --limit 10/min --limit-burst 100 -j ACCEPT
      -A INPUT -p tcp -m tcp --dport 992 -m limit --limit 10/min --limit-burst 100 -j ACCEPT
      -A INPUT -p tcp -m tcp --dport 5555 -m limit --limit 10/min --limit-burst 100 -j ACCEPT
      -A INPUT -p tcp -m tcp --dport 11941 -m limit --limit 10/min --limit-burst 100 -j ACCEPT
      -A INPUT -p udp -m udp --dport 11941 -m limit --limit 10/min --limit-burst 100 -j ACCEPT
      -A INPUT -p udp -m udp --dport 500 -m limit --limit 10/min --limit-burst 100 -j ACCEPT
      -A INPUT -p udp -m udp --dport 4500 -m limit --limit 10/min --limit-burst 100 -j ACCEPT
      # Weave.works connections:
      # -A INPUT -p tcp -m tcp --dport 6783 -m limit --limit 10/min --limit-burst 100 -j ACCEPT
      # -A INPUT -p udp -m udp --dport 6783 -m limit --limit 10/min --limit-burst 100 -j ACCEPT
      # -A INPUT -p udp -m udp --dport 6784 -m limit --limit 10/min --limit-burst 100 -j ACCEPT
      -A INPUT -p icmp -m icmp --icmp-type 0 -j ACCEPT
      -A INPUT -p icmp -m icmp --icmp-type 3 -j ACCEPT
      -A INPUT -p icmp -m icmp --icmp-type 8 -j ACCEPT
      -A INPUT -p icmp -m icmp --icmp-type 11 -j ACCEPT
      # -A INPUT -d 224.0.0.252/24 -p udp -m limit --limit 10/min --limit-burst 100 -j ACCEPT
      -A INPUT -m limit --limit 5/hour -j LOG --log-prefix "InDrop " --log-level warning
      COMMIT
      # rules end

hostname: "matchbox.gsm-port.com"

ssh_authorized_keys:
  - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDUKXJgShJMrBFi6VvKCsCJO9c1wLA3ugL3LAJGsRO9KXdZGmLC74/s0KVw4uaWHoTz91qLPdnplSdLU3KDK7loIdKRBR8E4KJ1MiZKGIj7F9NsniiNetQkKvUazrhRx8nFOAYSPD4znkhrh53nXnsI2WDACt0CGNYX33hV3J/kblWYit/wcIEtJg1ivFmBrljtAMZpS2mBpAK0kySCY2BP+Ph8x+6EuCkH1w2J4Moa0fYkibF3K7O4cmcWAtD53eyr8YN4JKvAwTe+uXVsdFDUNkZvCdOLTDDRd7t7C+qL3nbJMv5jVoED0bBBfn7NfEfyqLOzXHmE4bfuMo7KBlH7 vod@agrajag.0.njk.li"
...
# ExecStartPre=/usr/bin/docker exec -ti softethervpn ip addr
# ExecStart=/usr/bin/docker exec -ti softethervpn /bin/bash -c "TERM=linux tail -f /var/log/vpnserver/**/*.log"

# -o com.docker.network.bridge.name=management management
# ExecStart=/usr/sbin/brctl addif management eth1
# -o macvlan_mode=bridge
# --aux-address "DefaultGatewayIPv4=10.99.0.254" <-- useful for actual lans
# -o com.docker.network.driver.mtu=1450 \
